<main class="bg-primary w-100 bg-gradient" style='height:750px; padding-top: 100px;'>

  <div class='w-50 m-auto'>

    <div class='text-light w-50  m-auto d-flex flex-column align-items-center'>
      <h1 class='m-auto w-100'>ALPHA FINANCE</h1>
    </div>

    <div class='btn-lg m-100 d-flex justify-content-center flex-column align-items-center' style='margin-top: 200px; gap: 10px;' >
      <%= button_to "LOGIN", new_user_session_path, method: :get %>
      <%= button_to "SIGN UP", new_user_registration_path, method: :get %>
    </div>

  </div>

</main>