<div style='background-color: #3778c2; height: 100vh;'>

  <div class="pt-5">

    <%= form_with model: @catagory, :html => {:id => "create_catagory"} do |f| %>

      <%= f.file_field :icon, accept: 'image/png,image/gif,image/jpeg,image/jpg' ,required: true %>
      <%= f.text_field :name, autocomplete: "name", placeholder: 'Name', class: "border-slate-400 w-100 h-300 mb-5 mt-5 pt-3 pb-3", required: true %>
   
      <% end %>

    <div class="flex items-center justify-end">
          <input class=" w-100 pt-3 pb-3 text-center" style='font-weight: bold; color: #FFFFFF; background-color: #5fb523; border: none;' ,type="submit" value="SAVE" form="create_catagory" >
    </div>

  </div>

</div>