<div style="background-color: #D3D3D3; height: 100vh;">

 <nav class="">
    
      <div class=" pt-3 pb-3 bg-gradient" style='background-color: #3778c2;'>
        <%= link_to catagory_items_path do %>
           <i class="fa-solid fa-2x fa-chevron-left ps-3" style="color:white;"></i>
        <% end %>
      </div>      
      
  </nav>

  <div class="w-full flex pt-2.5 h-screen">

    <%= form_with(model: @item, url: {action: "create"}, :html => {:id => "add_item"}) do |f| %>
      <%= f.text_field :name, autocomplete: "name", placeholder: 'Name', class: "border-slate-400 w-100 h-300 mb-2 mt-2 pt-3 pb-3", required: true %>
      <%= f.number_field :amount, autocomplete: "name", placeholder: 'Amount', class: "border-slate-400 w-100 h-300 mb-2 pt-3 pb-3", required: true %>
    <% end %>

    <div class="flex items-center justify-end">
        <input class=" w-100 pt-3 pb-3 text-center bg-gradient" style='font-weight: bold; color: #FFFFFF; background-color: #5fb523; border: none;', type="submit" value="Add" form="add_item" >
    </div> 

  </div>


</div>