<div>

 <nav class="px-4 py-2.5 dark:bg-blue-900 shadow-sm border-b border-gray-200 dark:border-gray-600">
    <div class="container flex flex-row justify-between items-center mx-auto">
      <div class="flex items-center">
        <%= link_to '<i class="fa-solid fa-plus"></i>', catagory_items_path %>
      </div>      
      <div class="flex items-center"></div>
      <div class="flex items-center justify-end">
        <input class="self-center text-lg cursor-pointer dark:text-white" type="submit" value="Add" form="add_item" >
      </div>
    </div>
  </nav>

  <div class="w-full flex pt-2.5 h-screen">
    <%= form_with(model: @item, url: {action: "create"}, :html => {:id => "add_item"}) do |f| %>
      <%= f.text_field :name, autocomplete: "name", placeholder: 'Name', class: "mt-3 border-b-0 border-slate-400 w-full", required: true %>
      <%= f.number_field :amount, autocomplete: "name", placeholder: 'Amount', class: "border-slate-400 w-full", required: true %>
    <% end %>
  </div>


</div>